@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-color-cycle {
    animation: colorCycle 4s ease-in-out infinite;
  }
}

@keyframes colorCycle {
  0% {
    border-color: #facc15;
  }
  25% {
    border-color: #f97316;
  }
  50% {
    border-color: #ef4444;
  }
  75% {
    border-color: #ec4899;
  }
  100% {
    border-color: #facc15;
  }
}
